<div class="filter">

    <div class="title">
        <p>{{title()}}</p>
        <button (click)="isVisible = !isVisible">
            <svg *ngIf="!isVisible" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>

            <svg *ngIf="isVisible" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
              </svg>
              
        </button>


    </div>
    <ul *ngIf="isVisible" class="options">
        @for (option of options(); track $index) {
            <li (click)="useFilter(option)"> <input type="checkbox" [checked]="hasFilter(option)" /> {{ option }} </li>
        }

    </ul>
</div>